.container {
  text-align: center;
  padding: 2em;
  width: 80vw !important;
}
h1 {
  font-size: 5.5rem;
  padding-bottom: 1rem;
}
.form-control {
  margin: 30px 0 0 0;
}
.input-group {
  width: 50vw !important;
  margin: auto;
}
